* {
	margin: 0px;
	padding: 0px;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
img {
	max-width: 100%;
}
.header {
	height: 76px;
	background-color: #000;
}
.center {
	width: 1200px;
	margin: 0 auto;
}
.clearfix:before, .clearfix:after {
	Content: "";
	Display: table;
}
.clearfix:after {
	Clear: both;
}
.clearfix {
	*zoom: 1;
}
.header-left {
	float: left;
}
.logo {
	width: 114px;
	float: left;
}
.logo a {
	display: block;
	line-height: 76px;
}
.logo a img {
	width: 114px;
}
.list-left {
	float: left;
	margin-left: 40px;
}
.list-right {
	float: right;
}
.list-left > li ,.list-right > li{
	height: 73px;
	float: left;
	padding-left: 15px;
	padding-right: 22px;
	display: block;
	line-height: 73px;
}
.list-left > li:hover, .list-right li:hover{
	border-bottom: 3px solid #0191e2;
}
.list-left a ,.list-right a  {
	display: inline-block;
	height: 100%;
	font-size: 15px;
	color: #ccc;
	cursor: pointer;
}
.list-left >li >a:hover +div{
	display: block;
}
.drop-domn {
	width: 100%;
	height: 60px;
	position: absolute;
	top: 76px;
	left: 0px;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	display: none;
}
.drop-domn ul {
	padding-left: 50px;
	height: 60px;
	box-sizing: border-box;
}
.drop-domn ul li {
	display: inline-block;
	padding: 0 30px;
	position: relative;
	height: 60px;
}
.drop-domn a {
	display: table;
	color: #000;
}
.drop-domn a:hover {
	color: rgb(61,223,251);
}
.drop-domn hr {
	height: 40px;
    position: absolute;
	top: 15px;
	right: 0px;
}
/* banner部分 */
.banner {
	height: 640px;
	background: url(https://service.sony.com.cn/content/dam/casch/images/banner20190219v2.jpg) center center/cover no-repeat;
	padding-top: 120px;
	box-sizing: border-box;
}
.banner-main {
	height: 460px;
	box-sizing: border-box;
	
}
.banner-tit {
    font-size: 62px;
    color: #000;
    line-height: 84px;
    width: 560px;
    margin-bottom: 70px;
}
.banner-help {
    color: #000;
    font-size: 38px;
    margin-bottom: 20px;
}
.input-div {
    width: 620px;
    line-height: 64px;
    background: white;
    margin-bottom: 30px;
    border-radius: 6px;
    box-sizing: border-box;
    background: url(https://service.sony.com.cn/etc/designs/casch/images/searchbar.png) no-repeat left center/100%;
    position: relative;
	right: 2px;
	padding-left: 20px;
}
.input-div .inPut {
	display: inline-block;
	width: 484px;
	height: 50px;
	font-size: 24px;
	border: 0px;
	outline: none;
	color: #ccc;
}
.baner-a {
	color: #23afff;
	font-size: 23px;
	text-decoration: underline;
	display: block;
	margin-bottom: 10px;
}
.fixed {
	width: 87px;
	height: 90px;
	overflow: hidden;
	position: fixed;
	bottom: 250px;
	right: 30px;
	background: url(https://service.sony.com.cn/etc/designs/casch/images/01.png);
}
.fixed:hover {
	background: url(https://service.sony.com.cn/etc/designs/casch/images/02.png);
}
.produts {
	height: 360px;
}
.tit {
	font-size: 34px;
	padding-top: 50px;
	padding-bottom: 40px;
	text-align: center;
}
.produts-list {
	height: 225px;
}
.produts-list ul {
	width: 1225px;
	height: 225px;
}
.produts-list li{
	float: left;
	width: 150px;
	height: 225px;
	margin-left: 25px;
}
.pro-img {
	height: 140px;
	text-align: center;
	cursor: pointer;
	padding:30px 0px;
	margin-bottom: 20px;
	box-sizing: border-box;
}
.pro-img img {
	max-height: 115px;
	max-width: 150px;
}
.produts-list a {
	display: block;
	width: 150px;
	height: 60px;
}
.pro-a {
	position: relative;
	color: #000;
	font-size: 20px;
}
.text {
	text-align: center;
}
.pro-a i {
	position: absolute;
	bottom: 0px;
	left: 50%;
	margin-left: -8px;
}
.info-ul {
	height: 422px;
}
.info-ul ul {
	height: 100%;
}
.otherInformation {
	width: 595px;
	height: 206px;
	background-color: #eef5f8;
	margin-bottom: 5px;
	margin-right: 5px;
	float: left;
	padding-left: 40px;
	padding-top: 45px;
	box-sizing: border-box;
	position: relative;
}
.otherInformation img {
	vertical-align: top;
}
.info-wrap {
	width: 330px;
	display: inline-block;
	margin-left: 20px;
}
.info-wrap h1 {
	color: #333;
	margin-bottom: 14px;
	font-weight: 400;
}
.info-text {
	color: #656867;
	font-size: 18px;
}
.viewDetail {
	position: absolute;
	bottom: 30px;
	right: 32px;
	color: #636665;
	font-size: 18px;
}
.function {
	height: 675px;
}
.func-ul {
	height: 420px;
}
.function-item {
	width: 285px;
	height: 390px;
	float: left;
	margin-left: 20px;
	margin-top: 30px;
	background: url(https://service.sony.com.cn/etc/designs/casch/images/fun-img4.png);
	position: relative;
}
.function-item:first-child {
	margin-left: 0px;
}
.func-wrap {
	position: absolute;
	bottom: 20px;
	text-align: center;
	width:100%;
}
.func-wrap h1{
	color: #656565;
	font-size: 24px;
}
.func-wrap  span {
	color: #999;
	font-size: 18px;
}
.morefunction {
	width:100px;
	height: 80px;
	margin: 40px auto;
	text-align: center;
}
.morefunction a {
	display: inline-block;
	color: #676767;
	font-size: 24px;
}
.morefunction img {
	margin-top: 10px;
	display: inline-block;
	width: 24px;
	height: auto;
}
.sup {
	width: 100%;
	background-color: #e1e9ef;
}
.support {
	height: 572px;
}
.otherprofession-item {
	width: 285px;
	height: 320px;
	margin-right: 20px;
	float: left;
	padding-top: 28px;
	text-align: center;
	background-color: #fff;
}
.support-tit {
	border-radius: 8px;
	display: inline-block;
	color: #333;
	font-size: 18px;
	border: solid 0.5px #333;
	padding: 0 20px;
	line-height: 40px;
}
.img-support {
	padding-top: 40px;
}
.publish {
	width: 100%;
	height: 640px;
	background-color: #eef5f8;
}
.publish ul {
	width: 1223px;
}
.publish-li {
	width: 384px;
	height: 190px;
	display: block;
	float: left;
	margin-right: 23px;
	margin-bottom: 23px;
	background-color: #fff;
}
.publish-tit.orange {
    background: #fd593e;
}
.publish-tit {
    display: inline-block;
    line-height: 36px;
    padding: 0 24px;
    color: white;
    font-size: 15px;
    margin-bottom: 28px;
}
.public-text {
	padding-left: 28px;
}
.publish-desc {
    color: #2c3640;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 30px;
    width: 308px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: 58px;
    word-break: break-all;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.date {
    color: #657178;
    font-size: 12px;
}
.footer {
	height: 385px;
	width: 100%;
	background-color: #1f2024;
}
.footer-detail {
    border-bottom: 1px solid #333438;
	display: block;
	height: 260px;
	position: relative;
}
.footer-ul {
	width: 630px;
	height: 180px;
	position: absolute;
	top: 30px;
	right: 45px;
}
.footer-ul >  {
	display: inline-block;
}
.footer-ul >div {
	width: 210px;
	height: 140px;
	float: left;
}
.footer-ul .footer-tit {
	font-size: 15px;
	color: #808183;
}
 .footer-ul ul{
	color: white;
	font-size: 13px;
	padding-top: 15px;
	line-height: 25px;
} 
.contact {
	font-size: 13px;
	color: white;
}
.footer-ul ul li:hover ,.contact:hover{
	color: #50BCFD;
}
.attention {
	margin-top: 30px;
	margin-bottom: 10px;
}
.list1 a {
	width: 142px;
	height: 40px;
	display: block;
	background-color: #424243;
	font-size: 13px;
	margin-bottom: 4px;
	text-align: center;
	line-height: 40px;
	color: white;
}
.footerContent {
	width: 1336px;
	margin: 0px auto;
	padding: 26px 8px;
	position: relative;
}
.content-top {
	height: 16px;
}
.content-top span {
	margin-left: 30px;
	color: #494a4d;
	font-size: 12px;
}
.content-top span a {
	color: #494A4D;
}
.content-top img {
	height: 16px;
}
.content-m {
	margin-top: 6px;
}
.content-m span {
	margin-right: 25px;
}
.content-m a{
	color: #949495;
	font-size: 12px;
}
.content-m span:last-child{
	color: #787878;
	font-size: 12px;
}
.content-b {
	margin-top: 10px;
	color: #494a4d;
	font-size: 12px;
	margin-left: 280px;
}
.content-b  a{
	color: #949495;
}
.footerContent  a:hover {
	color: #009ffb;
}
.footerContent-right {
	width: 90px;
	height: 30px;
	position: absolute;
	right: 30px;
	top:50px;
}
.footerContent-right a {
	width: 30px;
	height: 30px;
	display: block;
	float: left;
}
.footerContent-right a:nth-child(1) {
	background: url(https://service.sony.com.cn/etc/designs/casch/images/index_share_bg.gif) ;
	background-position: -5px -5px;
}
.footerContent-right a:nth-child(2) {
	background: url(https://service.sony.com.cn/etc/designs/casch/images/index_share_bg.gif) ;
	background-position: -37px -5px;
}
.footerContent-right a:nth-child(3) {
	background: url(https://service.sony.com.cn/etc/designs/casch/images/index_share_bg.gif) ;
	background-position: -137px -5px;
}