html {
	font-size: 100px;
}
* {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
.clearfix:before, .clearfix:after {
	Content: "";
	Display: table;
}
.clearfix:after {
	Clear: both;
}
.clearfix {
	*zoom: 1;
}
.page {
	width: 7.5rem;
	margin: 0 auto;
	
}
.header {
	height: .9rem;
	width: 7.5rem;
	background-color: #000;
	position: relative;
}
.logo {
	width: 100%;
	height: 100%;
	display: block;
	background: url(https://www.sony.com.cn/etc/designs/sonyportal/image/logo.png) no-repeat center center;
	background-size: 1.7rem;
}
.menu {
	position: absolute;
	right: 0;
	top: 0;
	width: .8rem;
	height: .9rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.menu span{
	width: .32rem;
	height: .32rem;
	display: block;
	background: url(https://www.sony.com.cn/etc/designs/sonyportal/image/menu-btn.png);
	background-size: cover;
}
.menu span:hover {
	background: url(https://www.sony.com.cn/etc/designs/sonyportal/image/close.png) no-repeat center center;
}
.menu span:hover+.drop-domn {
	display: block;
}
.drop-domn {
	width: 4.5rem;
	background-color: #000000;
	position: absolute;
	right: 0;
	top: .9rem;
	font-size: .26rem;
	display: none;
	z-index: 2;
}
.drop-domn li:first-child {
	border-top: .01rem solid #6F6F6F;
}
.drop-domn li {
	line-height: .7rem;
	padding-left: .3rem;
	letter-spacing: .02rem;
	border-bottom: .01rem solid #6F6F6F;
}
.drop-domn li a {
	display: block;
	color: #fff;
}
.main {
	overflow: hidden;
	width: 7.5rem;
	height: 9.5rem;
}
.big {
	width: 37.50rem;
	height: 9.5rem;
}
.big li {
	float: left;
}
.big li a {
	width: 100%;
	height: 100%;
	display: block;
}
.big li a img {
	vertical-align: top;
	width: 100%;
}
.page .main .swiper-pagination-bullet{
	height: .1rem;
	width: .1rem;
    }
.page .main .swiper-pagination-bullet-active{
	width: .25rem;
	height: .1rem;
	border-radius: .05rem;
	background-color: deepskyblue;
} 
.page .main  .swiper-button-prev ,.page .main  .swiper-button-next{
	color: #fff;
}
.produts {
	background-color: #f0f1f3;
}
.title {
	height: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.tit {
	background: url(https://www.sony.com.cn/content/dam/sonystyle/common/othericon/blocktitlelogo.png) no-repeat left center;
	font-size: .32rem;
	padding-left: .7rem;
	background-size: contain;
	margin: 0 auto;
}
.pro2 .tit {
	background: url(https://www.sony.com.cn/content/dam/sonystyle/common/othericon/blocktitlelogo2.png) no-repeat left center;
	background-size: contain;
}
.pro3 .tit {
	background: url(https://www.sony.com.cn/content/dam/sonystyle/common/othericon/blocktitlelogo3.png) no-repeat left center;
	background-size: contain;
}
.pro4 .tit {
	background: url(https://www.sony.com.cn/content/dam/sonystyle/common/othericon/znyj_36x36.png) no-repeat left center;
	background-size: contain;
}
.produts-img {
	width: 100%;
}
.produts-img a {
	display: block;
	width: 100%;
	
}
.img0 {
	margin: 0 .05rem .1rem;
}
.img0 img {
	width: 100%;
	vertical-align: top;
}
.produts-icon {
	height: 7.5rem;
}
.produts-icon a{
	display: block;
	width: 3.75rem;
	height: 3.75rem;
	float: left;
}
.icon {
	margin: 0 .05rem .1rem;
	height: 3.65rem;
	background-color: #fff;
	text-align: center;
	position: relative;
}
.icon img {
	width: 2.2rem;
}
.desc {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: .75rem;
}
.desc h3 {
	font-size: .32rem;
	color: #333;
}
.desc p {
	font-size: .18rem;
	color: #666;
}
.detail {
	background: url(https://www.sony.com.cn/content/dam/sonystyle/common/homepage/category/intelligent/block_xperia_video2007_295345.jpg) no-repeat;
	background-size: 100% auto;
}
.pro4 {
	padding-bottom: .4rem;
}
.news {
	margin-left: .08rem;
	margin-right: .08rem;
	margin-top: .55rem;
	background-color: #f0f1f3;
}
.unit-tit {
	height: .3rem;
	width: 100%;
	display: block;
	padding: .24rem .15rem;
	
}
.unit-tit img {
	vertical-align: top;
	height: .3rem;
}
.news-list li {
	height: 1.68rem;
	width: 100%;
	margin-left: .04rem;
	margin-bottom: .08rem;
}
.news-list li img {
	height: 1.68rem;
	float: left;
	margin-right: .17rem;
	vertical-align: top;
}
.news-tit {
	float: left;
	padding-right: .25rem;
	width: 4.25rem;
}
.news-tit div:nth-child(1) {
	height: .4rem;
}
.news-tit .date {
	font-size: .2rem;
	vertical-align: top;
	line-height: .4rem;
	width: 1.15rem;
	color: #f0f1f2;
	background-color: #d0d1d3;
}
.news-tit .news-text {
	font-size: .22rem;
	
}
.news-text a {
	color: #595959;
}
.subCompany {
	margin-top: .2rem;
	margin-left: .08rem;
	margin-right: .08rem;
}
.subCompany .subCompany-title span {
	height: .3rem;
	display: block;
	line-height: .4rem;
	padding-left: .15rem;
}
.subCompany-title img {
	height: .3rem;
}
.subCompany-bd  {
	margin-top: .6rem;
}
.subCompany-bd ul {
	display: flex;
	flex-wrap: wrap;
	margin-left: -.06rem;
}
.subCompany-bd ul li {
	margin-top: .05rem;
	margin-left: .1rem;
	
	
}
.subCompany-bd ul li a {
	width: 3.56rem;
	height: 2.7rem;
	display: block;
	overflow: hidden;
}
.subCompany-bd ul li a img {
	width: 100%;
	
}
.footer {
	height: 12.55rem;
	width: 100%;
	background-color: #1f2024;
	margin-top: .6rem;
}
.footer-top {
	padding: .5rem .8rem .8rem;
	border-bottom: 1px solid #333438;
	position: relative;
}
.footer-title {
	width: 3rem;
	height: .24rem;
}
.left {
	margin-bottom: .3rem;
}
.footer-title img {
	vertical-align: top;
}
.col li {
	height: .42rem;
	display: block;
}
.col li a {
	font-size: .2rem;
	display: block;
	color: #FFFFFF;
}
.right {
	position: absolute;
	right: 0;
	top: 1.6rem;
}
.weibo {
	width: 1.42rem;
	height: .40rem;
	margin-bottom: .05rem;
	background: url(https://www.sony.com.cn/etc/designs/sonyportal/image/index/sony_china_weibo.gif);
}
